<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Post Show Page')"></head>
<body>

<main class="container">
    <div class="post">
        <h1 th:text="${ad.title}"></h1>
        <p th:text="${ad.description}"></p>
        <!--        <p>You can contact me at <a th:text="${post.owner.email}" th:href="${'mailto:' + post.owner.email}">here</a></p>-->
    </div>



        <form th:action="${'/ads/' + ad.id + '/delete'}">

                <input type="submit" value="delete ad">

        </form>


<p>Show</p>
</main>

</body>
</html>